.sa_tune
{
    padding: 10px;
    box-shadow: 0 0 10px;
    margin: 40px 10px 0px 5px;
    height: 280px;
}
.re_tune
{
    padding: 10px;
    box-shadow: 0 0 10px;
    margin: 40px 10px 0px 0px;
    height: 280px;
}
.ga_tune
{
    padding: 10px;
    box-shadow: 0 0 10px;
    margin: 40px 10px 0px 0px;
    height: 280px;
}
.ma_tune
{
    padding: 10px;
    box-shadow: 0 0 10px;
    margin: 40px 10px 0px 0px;
    height: 280px;
}
.pa_tune
{
    padding: 10px;
    box-shadow: 0 0 10px;
    margin: 40px 10px 0px 0px;
    height: 280px;
}
.dha_tune
{
    padding: 5px;
    box-shadow: 0 0 10px;
    margin: 40px 10px 0px 0px;
    height: 280px;
}
.ni_tune
{
    padding: 10px;
    box-shadow: 0 0 10px;
    margin: 40px 10px 0px 0px;
    height: 280px;
}